@import "src/assets/styles/mixins";

:host {
  position: absolute;
  top: 3vh;
  left: 10vw;
  right: 10vw;
  @include max-content-width;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    text-decoration: none;
    font-size: 2rem;
  }
}
